.header {
  border-bottom: 1px solid white;
  height: 49px;
  position: sticky;
  width: 100%;
  top: 0;
}

.nav {
  bottom: 0;
  border-top: 1px solid white;
  height: 49px;
  position: sticky;
  width: 100%;
}

.section {
  padding-top: 56px;
}

.h2 {
  margin-top: 5px;
}
