.container {
  display: grid;
  place-items: center;
}

.main {
  min-height: 90vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(250, 250, 250, .1);
  width: 80%;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: #0070f3;
}

.title_section {
  width: 90%;
  display: flex;
  justify-content: center;
}

.title,
.description {
  text-align: center;
}
